# 2. Hypothesis and cleanliness

<img width=300 src=https://media.tenor.com/images/2a38716a95e18a291c722f10189beed3/tenor.gif>

### Libraries

In [26]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

### Importing DataFrames

In [27]:
df = pd.read_csv("attack_clean.csv")

In [72]:
display(df.head())

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

## 1st Hypothesis: The country with more attacks is Australia

### Importing DataFrame with countries information

In [29]:
df_countries = pd.read_csv("countries.csv")

In [30]:
display(df_countries.head())

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

### Creating a subset with column "Country"

In [31]:
countries = df_countries["Country"]

In [32]:
countries_list = list(countries)
countries_mayus = []

In [33]:
for country in countries_list:
    country = country[:-1]
    countries_mayus.append(country.upper())

### Cleaning subset

In [34]:
df['Country'] = df['Country'].replace(['ENGLAND'],'UNITED KINGDOM')

In [35]:
df['Country'] = df['Country'].replace(['USA'],'UNITED STATES')

In [36]:
df_country = df[df['Country'].isin(countries_mayus)]

In [37]:
df_country.Country.unique()

array(['UNITED STATES', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'GREECE', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'TAIWAN', 'JAMAICA', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA',
       'TONGA', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'KENYA',
       'RUSSIA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
       'NORWAY', 'SENEGAL', 'YEMEN', 'LIBERIA', 'VANUATU', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA', 'TANZANIA',
       'MARSHALL ISLANDS', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH',
       'PALAU', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'SUDAN',
       'AMERICAN SAMOA', 'GABON', 'MAYOTTE', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'SIERRA LEONE', 'NICARAGUA',
       'SLOVENIA', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'IRELAND', 'KUWAIT', 'CYPRUS', 'BURMA', 'LEBANON', 'PARAGUAY',
       'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA', 'COOK ISLANDS', 'PERU',
       'ALGERIA', 'GHANA', 'GREENLAND', 'SWEDEN'], dtype=object)

In [38]:
vc = df_country.Country.value_counts()
vc.index = vc.index.astype(str)
country_dict = vc.to_dict()
print(country_dict)

{'UNITED STATES': 2212, 'AUSTRALIA': 1321, 'SOUTH AFRICA': 571, 'PAPUA NEW GUINEA': 130, 'NEW ZEALAND': 127, 'BRAZIL': 112, 'BAHAMAS': 106, 'MEXICO': 89, 'ITALY': 69, 'PHILIPPINES': 61, 'FIJI': 59, 'REUNION': 58, 'NEW CALEDONIA': 53, 'CUBA': 45, 'SPAIN': 43, 'MOZAMBIQUE': 43, 'EGYPT': 38, 'INDIA': 38, 'CROATIA': 34, 'JAPAN': 34, 'UNITED KINGDOM': 33, 'PANAMA': 30, 'SOLOMON ISLANDS': 28, 'JAMAICA': 27, 'IRAN': 25, 'HONG KONG': 24, 'FRENCH POLYNESIA': 24, 'INDONESIA': 22, 'GREECE': 19, 'COSTA RICA': 17, 'TONGA': 15, 'BERMUDA': 14, 'FRANCE': 13, 'SRI LANKA': 13, 'VIETNAM': 13, 'MARSHALL ISLANDS': 12, 'TURKEY': 12, 'VANUATU': 12, 'CANADA': 11, 'SENEGAL': 11, 'VENEZUELA': 10, 'MAURITIUS': 10, 'ECUADOR': 9, 'TAIWAN': 9, 'TANZANIA': 8, 'SAMOA': 8, 'IRAQ': 8, 'SIERRA LEONE': 8, 'KENYA': 8, 'CHILE': 8, 'THAILAND': 8, 'DOMINICAN REPUBLIC': 7, 'MADAGASCAR': 7, 'ISRAEL': 7, 'CHINA': 7, 'SOMALIA': 6, 'BARBADOS': 6, 'SEYCHELLES': 6, 'MALTA': 5, 'MALAYSIA': 5, 'NICARAGUA': 5, 'SINGAPORE': 5, 'PALAU': 5, 'LIBYA': 5, 'KIRIBATI': 4, 'GUAM': 4, 'NIGERIA': 4, 'HONDURAS': 4, 'GRENADA': 4, 'EL SALVADOR': 4, 'RUSSIA': 4, 'LIBERIA': 3, 'TUNISIA': 3, 'TRINIDAD & TOBAGO': 3, 'GUYANA': 3, 'MARTINIQUE': 3, 'AMERICAN SAMOA': 3, 'CAPE VERDE': 3, 'GUINEA': 3, 'HAITI': 3, 'PORTUGAL': 3, 'NORWAY': 2, 'YEMEN': 2, 'BELIZE': 2, 'UNITED ARAB EMIRATES': 2, 'BURMA': 2, 'SAUDI ARABIA': 2, 'NAMIBIA': 2, 'LEBANON': 2, 'ICELAND': 2, 'CAYMAN ISLANDS': 2, 'URUGUAY': 2, 'SUDAN': 2, 'GREENLAND': 1, 'MALDIVES': 1, 'COOK ISLANDS': 1, 'GEORGIA': 1, 'MONACO': 1, 'PARAGUAY': 1, 'IRELAND': 1, 'KUWAIT': 1, 'CYPRUS': 1, 'GHANA': 1, 'PUERTO RICO': 1, 'SYRIA': 1, 'GUATEMALA': 1, 'GABON': 1, 'ARGENTINA': 1, 'COMOROS': 1, 'NETHERLANDS ANTILLES': 1, 'PERU': 1, 'ANGOLA': 1, 'SWEDEN': 1, 'SLOVENIA': 1, 'TUVALU': 1, 'ALGERIA': 1, 'BANGLADESH': 1, 'ARUBA': 1, 'MAYOTTE': 1}

### Creating a subDataFrame with the most frequnt countries

In [39]:
country_100 = []
country_100 = [country for country,freq in country_dict.items() if freq > 100]
print(country_100)

['UNITED STATES', 'AUSTRALIA', 'SOUTH AFRICA', 'PAPUA NEW GUINEA', 'NEW ZEALAND', 'BRAZIL', 'BAHAMAS']

In [40]:
df_countries_clean = df_country[df_country['Country'].isin(country_100)]

### Exporting

In [41]:
df_countries_clean.to_csv("./first.csv")

## 2nd hypothesis: The region with more attacks is "Latin America and the Caribbean Sea"

We use the same DataFrame from the 1st hypothesis.

### Cleaning DataFrame

In [42]:
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [43]:
country_to_region = pd.Series(df_countries.Region.values,index=df_countries.Country).to_dict()

In [44]:
country_to_region = {k.replace(k,k.upper()): v for k, v in country_to_region.items()}

In [45]:
df_country['Country_space'] = df_country.Country + ' '

<ipython-input-45-d896dc2f5d56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Country_space'] = df_country.Country + ' '

In [46]:
df_country['Region'] = df_country['Country_space'].map(country_to_region)

<ipython-input-46-5d9b54b6763d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Region'] = df_country['Country_space'].map(country_to_region)

In [47]:
df_country.Region.value_counts()

NORTHERN AMERICA                       2238
OCEANIA                                1807
SUB-SAHARAN AFRICA                      758
LATIN AMER. & CARIB                     508
ASIA (EX. NEAR EAST)                    268
WESTERN EUROPE                          192
NORTHERN AFRICA                          47
NEAR EAST                                38
EASTERN EUROPE                           35
C.W. OF IND. STATES                       5
Name: Region, dtype: int64

### Exporting

In [48]:
df_country.to_csv("./second.csv")

## 3rd Hypothesis: The most frequent activity is surfing

### Cleaning DataFrame

In [49]:
df_act = df.copy()

In [50]:
activities = list(df_act.Activity.dropna().unique())

### Creating a new column with the activity

In [93]:
pattern_activity = r'([a-zA-Z]*ing)'

In [102]:
def searching(pattern, string):
    """
    Searchs a pattern in a string
    Args:
        pattern (str): pattern to search for
        string (str): from where the pattern is sought 
    Returns:
        The pattern found in lower case or, if nothing was found: "not found".
    """
    try:
        return re.search(pattern, string).group().lower()
    except:
        return("not found")

In [98]:
df_act['Activity_REGEX'] = df_act.Activity.dropna().apply(lambda x: searching(pattern_activity, x))

In [99]:
df_act.Activity_REGEX.value_counts()

surfing         1084
swimming        1073
fishing          695
diving           501
spearfishing     402
                ...
dropping           1
scooping           1
dismantling        1
observing          1
checking           1
Name: Activity_REGEX, Length: 191, dtype: int64

In [101]:
vc = df_act.Activity_REGEX.dropna().value_counts()
vc.index = vc.index.astype(str)
act_dict = vc.to_dict()
act_dict.pop("not found")

398

### Creating a subDataFrame with the most frequent activities

In [56]:
act_50 = []
act_50 = [act for act,freq in act_dict.items() if freq > 50]

In [57]:
df_act_clean = df_act[df_act['Activity_REGEX'].isin(act_50)]

### Exporting

In [58]:
df_act_clean.to_csv("./third.csv")

## 4th hypothesis: The older the age, the more fatal attacks

In [59]:
df_age = df.copy()

### Cleaning the DataFrame

In [60]:
list_YN = ['N','Y']
list_years = (list(range(0,80)))
list_years_str = [str(year) for year in list_years]
df_age_f = df.loc[(df_age["Fatal"].isin(list_YN)) & (df_age["Age"].isin(list_years_str))]

In [61]:
df_age_f = df_age_f[df_age_f["Age"].notna()]
df_age_f["Age"] = df_age_f["Age"].astype(int)

### Exporting

In [62]:
df_age_f.to_csv("./forth.csv")

## 5th hypothesis: The trend of attacks tends to increase since 1975

In [63]:
df_year = df.copy()

### Cleaning DataFrame

In [64]:
df_year = df_year[df_year['Year'] > 1975]

### Creating a DataFrame with years and frequency

In [65]:
vc = df_year.Year.value_counts()
vc.index = vc.index.astype(str)
year_dict = vc.to_dict()
print(year_dict)

{'2015': 143, '2017': 136, '2016': 130, '2011': 128, '2014': 127, '2008': 122, '2013': 122, '2009': 120, '2012': 117, '2007': 112, '2005': 103, '2006': 103, '2010': 101, '2000': 97, '2001': 92, '2003': 92, '2004': 92, '2002': 88, '1995': 76, '1999': 66, '1998': 65, '1996': 61, '1997': 57, '1994': 56, '1992': 56, '1993': 56, '1988': 55, '2018': 53, '1989': 53, '1983': 50, '1981': 49, '1984': 41, '1982': 40, '1986': 39, '1976': 39, '1990': 38, '1991': 38, '1985': 37, '1987': 35, '1980': 35, '1977': 26, '1979': 25, '1978': 25}

In [66]:
dictionary = {}
years = []
frequency = []
for year,freq in year_dict.items():
    years.append(year)
    frequency.append(freq)

dictionary = { 'years' : years, 'number_of_attacks' : frequency}

In [67]:
year_freq = pd.DataFrame(dictionary)

### Exporting

In [68]:
year_freq.to_csv("./fifth.csv")

## 6th hypothesis: The shark that attacks the most is the white shark

In [78]:
df_species = df.copy()

### Creating a new column with the Species

In [80]:
list_of_species = list(df_species.Species.unique())

In [86]:
pattern_species = r'\w+(?=\s+shark)'

In [105]:
df_species['Species_REGEX'] = df_species.Species.dropna().apply(lambda x: searching(pattern_species, x))

In [106]:
df_species.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Species_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",white
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",m
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,tiger

In [112]:
vc = df_species.Species_REGEX.dropna().value_counts()
vc.index = vc.index.astype(str)
species_dict = vc.to_dict()
species_dict.pop("not found")
species_dict.pop("m")

130

### Creating a subDataFrame with the most frequent activities

In [116]:
species_40 = []
species_40 = [species for species,freq in species_dict.items() if freq > 40]

In [117]:
df_species_clean = df_species[df_species['Species_REGEX'].isin(species_40)]

### Exporting

In [119]:
df_species_clean.to_csv("./sixth.csv")