# 2. Hypothesis and cleanliness

<img width=300 src=https://media.tenor.com/images/2a38716a95e18a291c722f10189beed3/tenor.gif>

### Libraries

In [14]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import src.cleaning as lt

### Importing DataFrames

In [15]:
df = pd.read_csv("dataframes/attack_clean.csv")

In [16]:
display(df.head(3))

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"

## 1st Hypothesis: The country with more attacks is Australia

### Importing DataFrame with countries information

In [17]:
df_countries = pd.read_csv("dataframes/countries.csv")

In [18]:
display(df_countries.head(2))

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"

### Creating a subset with column "Country"

In [32]:
countries = df_countries["Country"]

In [33]:
countries_list = list(countries)
countries_mayus = []

In [34]:
for country in countries_list:
    country = country[:-1]
    countries_mayus.append(country.upper())

### Cleaning subset

In [35]:
df['Country'] = df['Country'].replace(['ENGLAND'],'UNITED KINGDOM')

In [36]:
df['Country'] = df['Country'].replace(['USA'],'UNITED STATES')

In [37]:
df_country = lt.create(df,'Country',countries_mayus)

In [38]:
df_country.Country.unique()

array(['UNITED STATES', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'GREECE', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'TAIWAN', 'JAMAICA', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA',
       'TONGA', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'KENYA',
       'RUSSIA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
       'NORWAY', 'SENEGAL', 'YEMEN', 'LIBERIA', 'VANUATU', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA', 'TANZANIA',
       'MARSHALL ISLANDS', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH',
       'PALAU', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'SUDAN',
       'AMERICAN SAMOA', 'GABON', 'MAYOTTE', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'SIERRA LEONE', 'NICARAGUA',
       'SLOVENIA', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'IRELAND', 'KUWAIT', 'CYPRUS', 'BURMA', 'LEBANON', 'PARAGUAY',
       'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA', 'COOK ISLANDS', 'PERU',
       'ALGERIA', 'GHANA', 'GREENLAND', 'SWEDEN'], dtype=object)

In [39]:
country_dict = lt.vc_to_dict(df_country.Country)

### Creating a subDataFrame with the most frequnt countries

In [40]:
country_100 = lt.subdata(100,country_dict)

In [41]:
country_100

['UNITED STATES',
 'AUSTRALIA',
 'SOUTH AFRICA',
 'PAPUA NEW GUINEA',
 'NEW ZEALAND',
 'BRAZIL',
 'BAHAMAS']

In [42]:
df_countries_clean = lt.create(df_country,"Country",country_100)

In [44]:
df_countries_clean.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"

### Exporting

In [45]:
df_countries_clean.to_csv("dataframes/first.csv")

## 2nd hypothesis: The region with more attacks is "Latin America and the Caribbean Sea"

We use the same DataFrame from the 1st hypothesis.

In [46]:
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

### Creating a dictionary that, given a country, gives you the region it is in.

In [47]:
country_to_region = pd.Series(df_countries.Region.values,index=df_countries.Country).to_dict()

In [48]:
country_to_region = {k.replace(k,k.upper()): v for k, v in country_to_region.items()}

In [49]:
df_country['Country_space'] = df_country.Country + ' '

<ipython-input-49-d896dc2f5d56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Country_space'] = df_country.Country + ' '

### Adding region column to dataframe

In [50]:
df_country['Region'] = df_country['Country_space'].map(country_to_region)

<ipython-input-50-5d9b54b6763d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Region'] = df_country['Country_space'].map(country_to_region)

In [51]:
df_country.Region.value_counts()

NORTHERN AMERICA                       2238
OCEANIA                                1807
SUB-SAHARAN AFRICA                      758
LATIN AMER. & CARIB                     508
ASIA (EX. NEAR EAST)                    268
WESTERN EUROPE                          192
NORTHERN AFRICA                          47
NEAR EAST                                38
EASTERN EUROPE                           35
C.W. OF IND. STATES                       5
Name: Region, dtype: int64

In [52]:
df_country.head(2)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Country_space,Region
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",UNITED STATES,NORTHERN AMERICA
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",UNITED STATES,NORTHERN AMERICA

### Exporting

In [53]:
df_country.to_csv("dataframes/second.csv")

## 3rd Hypothesis: The most frequent activity is surfing

### Cleaning DataFrame

In [54]:
df_act = df.copy()

### Creating a new column with the activity

In [55]:
pattern_activity = r'([a-zA-Z]*ing)'

In [56]:
df_act['Activity_REGEX'] = df_act.Activity.dropna().apply(lambda x: lt.searching(pattern_activity, x))

In [57]:
df_act.Activity_REGEX.value_counts()

surfing          1084
swimming         1073
fishing           695
diving            501
spearfishing      402
                 ...
pearling            1
investigating       1
exercising          1
involving           1
murdering           1
Name: Activity_REGEX, Length: 191, dtype: int64

In [58]:
act_dict = lt.vc_to_dict(df_act.Activity_REGEX.dropna())

In [59]:
act_dict.pop("not found")

398

In [60]:
act_dict

{'surfing': 1084,
 'swimming': 1073,
 'fishing': 695,
 'diving': 501,
 'spearfishing': 402,
 'bathing': 184,
 'wading': 165,
 'boarding': 136,
 'standing': 128,
 'snorkeling': 93,
 'floating': 47,
 'kayaking': 42,
 'treading': 39,
 'skiing': 36,
 'attempting': 31,
 'walking': 26,
 'playing': 25,
 'rowing': 21,
 'sitting': 21,
 'windsurfing': 21,
 'paddling': 17,
 'sinking': 14,
 'freediving': 14,
 'canoeing': 13,
 'feeding': 12,
 'sailing': 12,
 'washing': 12,
 'collecting': 11,
 'skindiving': 10,
 'netting': 10,
 'splashing': 9,
 'during': 9,
 'clinging': 8,
 'boating': 8,
 'removing': 7,
 'hunting': 7,
 'lying': 7,
 'competing': 6,
 'jumping': 6,
 'watching': 6,
 'paddleboarding': 6,
 'filming': 6,
 'dangling': 5,
 'tagging': 5,
 'pulling': 5,
 'paddleskiing': 5,
 'cleaning': 5,
 'lifesaving': 5,
 'ding': 5,
 'crossing': 5,
 'catching': 4,
 'riding': 4,
 'spearing': 4,
 'escaping': 4,
 'working': 4,
 'being': 4,
 'killing': 4,
 'clamming': 4,
 'returning': 4,
 'crabbing': 4,
 'dragging': 4,
 'flying': 3,
 'sculling': 3,
 'helping': 3,
 'climbing': 3,
 'crayfishing': 3,
 'launching': 3,
 'holding': 3,
 'racing': 3,
 'hauling': 3,
 'preparing': 3,
 'taking': 3,
 'picking': 3,
 'gathering': 3,
 'touching': 3,
 'finning': 3,
 'photographing': 3,
 'abandoning': 2,
 'conducting': 2,
 'moving': 2,
 'crouching': 2,
 'landing': 2,
 'reading': 2,
 'boeing': 2,
 'rescuing': 2,
 'petting': 2,
 'trailing': 2,
 'burning': 2,
 'wearing': 2,
 'kiteboarding': 2,
 'shooting': 2,
 'gaffing': 2,
 'cruising': 2,
 'towing': 2,
 'testing': 2,
 'carrying': 2,
 'hoisting': 2,
 'teasing': 2,
 'retrieving': 2,
 'hanging': 2,
 'resting': 2,
 'chumming': 2,
 'foundering': 2,
 'hooking': 1,
 'crawling': 1,
 'waiting': 1,
 'trying': 1,
 'kakaying': 1,
 'checking': 1,
 'sailboarding': 1,
 'angling': 1,
 'harassing': 1,
 'scooping': 1,
 'meshing': 1,
 'cutting': 1,
 'stamding': 1,
 'expecting': 1,
 'awaiting': 1,
 'attaching': 1,
 'bending': 1,
 'king': 1,
 'casting': 1,
 'missing': 1,
 'bringing': 1,
 'dropping': 1,
 'scurfing': 1,
 'pursuing': 1,
 'examining': 1,
 'sunbathing': 1,
 'throwing': 1,
 'wakeboarding': 1,
 'deserting': 1,
 'travelling': 1,
 'salvaging': 1,
 'observing': 1,
 'measuring': 1,
 'sleeping': 1,
 'sing': 1,
 'stuffing': 1,
 'morning': 1,
 'hiking': 1,
 'ditching': 1,
 'kitesurfing': 1,
 'restraining': 1,
 'yachting': 1,
 'drowning': 1,
 'harpooning': 1,
 'coming': 1,
 'drawing': 1,
 'seining': 1,
 'grabbing': 1,
 'oystering': 1,
 'footing': 1,
 'bodyboarding': 1,
 'shrimping': 1,
 'skimboarding': 1,
 'gigging': 1,
 'guarding': 1,
 'fighting': 1,
 'feeling': 1,
 'dynamiting': 1,
 'traveling': 1,
 'inspecting': 1,
 'searching': 1,
 'loading': 1,
 'reviving': 1,
 'longling': 1,
 'seeing': 1,
 'painting': 1,
 'reaching': 1,
 'shelling': 1,
 'lining': 1,
 'kneeling': 1,
 'lobstering': 1,
 'thrashing': 1,
 'dismantling': 1,
 'fleeing': 1,
 'bodysurfing': 1,
 'wrangling': 1,
 'chasing': 1,
 'defecating': 1,
 'sittting': 1,
 'setting': 1,
 'thing': 1,
 'leaving': 1,
 'pearling': 1,
 'investigating': 1,
 'exercising': 1,
 'involving': 1,
 'murdering': 1}

### Creating a subDataFrame with the most frequent activities

In [61]:
act_50 = lt.subdata(50,act_dict)
act_50

['surfing',
 'swimming',
 'fishing',
 'diving',
 'spearfishing',
 'bathing',
 'wading',
 'boarding',
 'standing',
 'snorkeling']

In [62]:
df_act_clean = lt.create(df_act,"Activity_REGEX",act_50)
df_act_clean.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Activity_REGEX
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",standing
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",surfing
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",surfing
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,diving
5,2018.06.03.b,03-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",surfing

### Exporting

In [63]:
df_act_clean.to_csv("dataframes/third.csv")

## 4th hypothesis: The older the age, the more fatal attacks

In [64]:
df_age = df.copy()
df_age.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

### Cleaning the DataFrame

In [65]:
list_YN = ['N','Y']
list_years = (list(range(0,80)))
list_years_str = [str(year) for year in list_years]
df_age_f = df.loc[(df_age["Fatal"].isin(list_YN)) & (df_age["Age"].isin(list_years_str))]

In [66]:
df_age_f = df_age_f[df_age_f["Age"].notna()]
df_age_f["Age"] = df_age_f["Age"].astype(int)
df_age_f.head(4)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
6,2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018"

### Exporting

In [67]:
df_age_f.to_csv("dataframes/forth.csv")

## 5th hypothesis: The trend of attacks tends to increase since 1975

In [68]:
df_year = df.copy()

### Cleaning DataFrame

In [69]:
df_year = df_year[df_year['Year'] > 1975]

### Creating a DataFrame with years and frequency

In [70]:
year_dict = lt.vc_to_dict(df_year.Year)
year_dict

{'2015': 143,
 '2017': 136,
 '2016': 130,
 '2011': 128,
 '2014': 127,
 '2008': 122,
 '2013': 122,
 '2009': 120,
 '2012': 117,
 '2007': 112,
 '2005': 103,
 '2006': 103,
 '2010': 101,
 '2000': 97,
 '2001': 92,
 '2003': 92,
 '2004': 92,
 '2002': 88,
 '1995': 76,
 '1999': 66,
 '1998': 65,
 '1996': 61,
 '1997': 57,
 '1994': 56,
 '1992': 56,
 '1993': 56,
 '1988': 55,
 '2018': 53,
 '1989': 53,
 '1983': 50,
 '1981': 49,
 '1984': 41,
 '1982': 40,
 '1986': 39,
 '1976': 39,
 '1990': 38,
 '1991': 38,
 '1985': 37,
 '1987': 35,
 '1980': 35,
 '1977': 26,
 '1979': 25,
 '1978': 25}

In [71]:
dictionary = {}
years = []
frequency = []
for year,freq in year_dict.items():
    years.append(year)
    frequency.append(freq)

dictionary = { 'years' : years, 'number_of_attacks' : frequency}

In [72]:
year_freq = pd.DataFrame(dictionary)
year_freq.head()

  years  number_of_attacks
0  2015                143
1  2017                136
2  2016                130
3  2011                128
4  2014                127

### Exporting

In [73]:
year_freq.to_csv("dataframes/fifth.csv")

## 6th hypothesis: The shark that attacks the most is the white shark

In [74]:
df_species = df.copy()

### Creating a new column with the Species

In [75]:
list_of_species = list(df_species.Species.unique())

In [76]:
def searching(pattern,string):
    """
    Searchs a pattern in a string
    Args:
        pattern (str): pattern to search for
        string (str): from where the pattern is sought 
    Returns:
        The pattern found in lower case or, if nothing was found: "not found".
    """
    try:
        new = re.search(pattern, string).group().lower()
        return new
    except:
        return("not found")

In [77]:
pattern_species = r'\w+(?=\s+shark)'

In [78]:
df_species['Species_REGEX'] = df_species.Species.dropna().apply(lambda x: lt.searching(pattern_species, x))

In [79]:
df_species.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Species_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",white
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",m
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,tiger

In [80]:
species_dict = lt.vc_to_dict(df_species.Species_REGEX.dropna())
species_dict.pop("not found")
species_dict.pop("m")

130

### Creating a subDataFrame with the most frequent activities

In [81]:
species_40 = lt.subdata(40,species_dict)

In [82]:
species_40

['white',
 'tiger',
 'bull',
 'nurse',
 'whaler',
 'reef',
 'blacktip',
 'small',
 'mako',
 'wobbegong',
 'spinner',
 'raggedtooth',
 'hammerhead']

In [83]:
df_species_clean = lt.create(df_species,"Species_REGEX",species_40)
df_species_clean.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Species_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",white
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,tiger
6,2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",tiger

### Exporting

In [84]:
df_species_clean.to_csv("dataframes/sixth.csv")