# 2. Hypothesis and Cleanliness

<img width=300 src=https://media.tenor.com/images/2a38716a95e18a291c722f10189beed3/tenor.gif>

### Libraries

In [77]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import src.cleaning as lt

### Importing Dataframes

In [78]:
df = pd.read_csv("dataframes/attack_clean.csv")

In [79]:
display(df.head(3))

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"

## 1st Hypothesis: The country with more attacks is Australia

### Importing Dataframe with countries information

In [80]:
df_countries = pd.read_csv("dataframes/countries.csv")

In [81]:
display(df_countries.head(2))

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"

### Creating a subset with column "Country"

In [82]:
countries = df_countries["Country"]
countries

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
222         West Bank
223    Western Sahara
224             Yemen
225            Zambia
226          Zimbabwe
Name: Country, Length: 227, dtype: object

In [83]:
countries_list = list(countries)
countries_mayus = []

In [84]:
for country in countries_list:
    country = country[:-1]
    countries_mayus.append(country.upper())

### Cleaning subset

In [85]:
df['Country'] = df['Country'].replace(['ENGLAND'],'UNITED KINGDOM')

In [86]:
df['Country'] = df['Country'].replace(['USA'],'UNITED STATES')

In [87]:
df_country = lt.create(df,'Country',countries_mayus)

In [88]:
df_country.Country.unique()

array(['UNITED STATES', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'GREECE', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'TAIWAN', 'JAMAICA', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA',
       'TONGA', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'KENYA',
       'RUSSIA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
       'NORWAY', 'SENEGAL', 'YEMEN', 'LIBERIA', 'VANUATU', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA', 'TANZANIA',
       'MARSHALL ISLANDS', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'BERMUDA', 'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH',
       'PALAU', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'SUDAN',
       'AMERICAN SAMOA', 'GABON', 'MAYOTTE', 'ARGENTINA', 'MARTINIQUE',
       'GUATEMALA', 'NETHERLANDS ANTILLES', 'SIERRA LEONE', 'NICARAGUA',
       'SLOVENIA', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'IRELAND', 'KUWAIT', 'CYPRUS', 'BURMA', 'LEBANON', 'PARAGUAY',
       'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA', 'COOK ISLANDS', 'PERU',
       'ALGERIA', 'GHANA', 'GREENLAND', 'SWEDEN'], dtype=object)

In [89]:
country_dict = lt.vc_to_dict(df_country.Country)
country_dict

{'UNITED STATES': 2212,
 'AUSTRALIA': 1321,
 'SOUTH AFRICA': 571,
 'PAPUA NEW GUINEA': 130,
 'NEW ZEALAND': 127,
 'BRAZIL': 112,
 'BAHAMAS': 106,
 'MEXICO': 89,
 'ITALY': 69,
 'PHILIPPINES': 61,
 'FIJI': 59,
 'REUNION': 58,
 'NEW CALEDONIA': 53,
 'CUBA': 45,
 'SPAIN': 43,
 'MOZAMBIQUE': 43,
 'INDIA': 38,
 'EGYPT': 38,
 'JAPAN': 34,
 'CROATIA': 34,
 'UNITED KINGDOM': 33,
 'PANAMA': 30,
 'SOLOMON ISLANDS': 28,
 'JAMAICA': 27,
 'IRAN': 25,
 'HONG KONG': 24,
 'FRENCH POLYNESIA': 24,
 'INDONESIA': 22,
 'GREECE': 19,
 'COSTA RICA': 17,
 'TONGA': 15,
 'BERMUDA': 14,
 'SRI LANKA': 13,
 'VIETNAM': 13,
 'FRANCE': 13,
 'MARSHALL ISLANDS': 12,
 'VANUATU': 12,
 'TURKEY': 12,
 'CANADA': 11,
 'SENEGAL': 11,
 'VENEZUELA': 10,
 'MAURITIUS': 10,
 'TAIWAN': 9,
 'ECUADOR': 9,
 'SIERRA LEONE': 8,
 'SAMOA': 8,
 'THAILAND': 8,
 'IRAQ': 8,
 'KENYA': 8,
 'CHILE': 8,
 'TANZANIA': 8,
 'MADAGASCAR': 7,
 'CHINA': 7,
 'DOMINICAN REPUBLIC': 7,
 'ISRAEL': 7,
 'SOMALIA': 6,
 'SEYCHELLES': 6,
 'BARBADOS': 6,
 'PALAU': 5,
 'MALTA': 5,
 'LIBYA': 5,
 'SINGAPORE': 5,
 'MALAYSIA': 5,
 'NICARAGUA': 5,
 'GRENADA': 4,
 'GUAM': 4,
 'RUSSIA': 4,
 'KIRIBATI': 4,
 'HONDURAS': 4,
 'EL SALVADOR': 4,
 'NIGERIA': 4,
 'AMERICAN SAMOA': 3,
 'MARTINIQUE': 3,
 'GUINEA': 3,
 'HAITI': 3,
 'GUYANA': 3,
 'PORTUGAL': 3,
 'TRINIDAD & TOBAGO': 3,
 'CAPE VERDE': 3,
 'LIBERIA': 3,
 'TUNISIA': 3,
 'YEMEN': 2,
 'LEBANON': 2,
 'BURMA': 2,
 'CAYMAN ISLANDS': 2,
 'NAMIBIA': 2,
 'BELIZE': 2,
 'URUGUAY': 2,
 'UNITED ARAB EMIRATES': 2,
 'SUDAN': 2,
 'ICELAND': 2,
 'NORWAY': 2,
 'SAUDI ARABIA': 2,
 'SWEDEN': 1,
 'NETHERLANDS ANTILLES': 1,
 'SLOVENIA': 1,
 'GEORGIA': 1,
 'COOK ISLANDS': 1,
 'MONACO': 1,
 'MALDIVES': 1,
 'PARAGUAY': 1,
 'ARGENTINA': 1,
 'KUWAIT': 1,
 'MAYOTTE': 1,
 'ANGOLA': 1,
 'GUATEMALA': 1,
 'ALGERIA': 1,
 'ARUBA': 1,
 'COMOROS': 1,
 'TUVALU': 1,
 'CYPRUS': 1,
 'PERU': 1,
 'GREENLAND': 1,
 'BANGLADESH': 1,
 'GHANA': 1,
 'SYRIA': 1,
 'IRELAND': 1,
 'GABON': 1,
 'PUERTO RICO': 1}

### Creating a sub-dataframe with the most frequent countries

In [90]:
country_100 = lt.subdata(100,country_dict)

In [91]:
country_100

['UNITED STATES',
 'AUSTRALIA',
 'SOUTH AFRICA',
 'PAPUA NEW GUINEA',
 'NEW ZEALAND',
 'BRAZIL',
 'BAHAMAS']

In [92]:
df_countries_clean = lt.create(df_country,"Country",country_100)

In [93]:
df_countries_clean.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"

### Exporting

In [94]:
df_countries_clean.to_csv("dataframes/first.csv")

## 2nd hypothesis: The region with more attacks is "Latin America and the Caribbean Sea"

We use the same DataFrame from the 1st hypothesis.

In [95]:
df_countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

### Creating a dictionary that, given a country, gives you the region it is in.

In [96]:
country_to_region = pd.Series(df_countries.Region.values,index=df_countries.Country).to_dict()

In [97]:
country_to_region = {k.replace(k,k.upper()): v for k, v in country_to_region.items()}

In [98]:
df_country['Country_space'] = df_country.Country + ' '

<ipython-input-98-d896dc2f5d56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Country_space'] = df_country.Country + ' '

### Adding 'Region' column to dataframe

In [99]:
df_country['Region'] = df_country['Country_space'].map(country_to_region)

<ipython-input-99-5d9b54b6763d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Region'] = df_country['Country_space'].map(country_to_region)

In [100]:
df_country.Region.value_counts()

NORTHERN AMERICA                       2238
OCEANIA                                1807
SUB-SAHARAN AFRICA                      758
LATIN AMER. & CARIB                     508
ASIA (EX. NEAR EAST)                    268
WESTERN EUROPE                          192
NORTHERN AFRICA                          47
NEAR EAST                                38
EASTERN EUROPE                           35
C.W. OF IND. STATES                       5
Name: Region, dtype: int64

In [101]:
df_country.head(2)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Country_space,Region
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",UNITED STATES,NORTHERN AMERICA
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",UNITED STATES,NORTHERN AMERICA

### Exporting

In [102]:
df_country.to_csv("dataframes/second.csv")

## 3rd Hypothesis: The most frequent activity is surfing

### Cleaning Dataframe

In [103]:
df_act = df.copy()

### Creating a new column with the activity

In [104]:
pattern_activity = r'([a-zA-Z]*ing)'

In [105]:
df_act['Activity_REGEX'] = df_act.Activity.dropna().apply(lambda x: lt.searching(pattern_activity, x))

In [106]:
df_act.Activity_REGEX.value_counts()

surfing         1084
swimming        1073
fishing          695
diving           501
spearfishing     402
                ...
gigging            1
harassing          1
leaving            1
traveling          1
seeing             1
Name: Activity_REGEX, Length: 191, dtype: int64

In [107]:
df_act.head(2)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Activity_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",paddling
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",standing

In [108]:
act_dict = lt.vc_to_dict(df_act.Activity_REGEX.dropna())

In [109]:
act_dict.pop("not found")

398

In [110]:
act_dict

{'surfing': 1084,
 'swimming': 1073,
 'fishing': 695,
 'diving': 501,
 'spearfishing': 402,
 'bathing': 184,
 'wading': 165,
 'boarding': 136,
 'standing': 128,
 'snorkeling': 93,
 'floating': 47,
 'kayaking': 42,
 'treading': 39,
 'skiing': 36,
 'attempting': 31,
 'walking': 26,
 'playing': 25,
 'sitting': 21,
 'windsurfing': 21,
 'rowing': 21,
 'paddling': 17,
 'freediving': 14,
 'sinking': 14,
 'canoeing': 13,
 'sailing': 12,
 'feeding': 12,
 'washing': 12,
 'collecting': 11,
 'skindiving': 10,
 'netting': 10,
 'during': 9,
 'splashing': 9,
 'boating': 8,
 'clinging': 8,
 'removing': 7,
 'hunting': 7,
 'lying': 7,
 'jumping': 6,
 'paddleboarding': 6,
 'filming': 6,
 'watching': 6,
 'competing': 6,
 'ding': 5,
 'tagging': 5,
 'dangling': 5,
 'pulling': 5,
 'lifesaving': 5,
 'crossing': 5,
 'paddleskiing': 5,
 'cleaning': 5,
 'killing': 4,
 'returning': 4,
 'escaping': 4,
 'dragging': 4,
 'riding': 4,
 'spearing': 4,
 'working': 4,
 'being': 4,
 'catching': 4,
 'crabbing': 4,
 'clamming': 4,
 'touching': 3,
 'sculling': 3,
 'racing': 3,
 'holding': 3,
 'crayfishing': 3,
 'photographing': 3,
 'finning': 3,
 'helping': 3,
 'flying': 3,
 'gathering': 3,
 'preparing': 3,
 'launching': 3,
 'picking': 3,
 'climbing': 3,
 'taking': 3,
 'hauling': 3,
 'trailing': 2,
 'rescuing': 2,
 'abandoning': 2,
 'moving': 2,
 'resting': 2,
 'conducting': 2,
 'gaffing': 2,
 'hanging': 2,
 'wearing': 2,
 'foundering': 2,
 'hoisting': 2,
 'crouching': 2,
 'boeing': 2,
 'kiteboarding': 2,
 'cruising': 2,
 'landing': 2,
 'chumming': 2,
 'towing': 2,
 'reading': 2,
 'testing': 2,
 'retrieving': 2,
 'carrying': 2,
 'shooting': 2,
 'burning': 2,
 'petting': 2,
 'teasing': 2,
 'attaching': 1,
 'bending': 1,
 'king': 1,
 'pursuing': 1,
 'thing': 1,
 'reaching': 1,
 'shelling': 1,
 'kneeling': 1,
 'shrimping': 1,
 'throwing': 1,
 'awaiting': 1,
 'chasing': 1,
 'ditching': 1,
 'involving': 1,
 'travelling': 1,
 'searching': 1,
 'guarding': 1,
 'meshing': 1,
 'sing': 1,
 'grabbing': 1,
 'yachting': 1,
 'footing': 1,
 'salvaging': 1,
 'longling': 1,
 'deserting': 1,
 'fleeing': 1,
 'wakeboarding': 1,
 'morning': 1,
 'painting': 1,
 'kitesurfing': 1,
 'dropping': 1,
 'lobstering': 1,
 'cutting': 1,
 'coming': 1,
 'observing': 1,
 'kakaying': 1,
 'bodysurfing': 1,
 'exercising': 1,
 'drowning': 1,
 'sittting': 1,
 'hooking': 1,
 'setting': 1,
 'measuring': 1,
 'fighting': 1,
 'trying': 1,
 'skimboarding': 1,
 'crawling': 1,
 'sunbathing': 1,
 'inspecting': 1,
 'checking': 1,
 'hiking': 1,
 'casting': 1,
 'dismantling': 1,
 'bodyboarding': 1,
 'lining': 1,
 'sailboarding': 1,
 'restraining': 1,
 'pearling': 1,
 'murdering': 1,
 'harpooning': 1,
 'investigating': 1,
 'seining': 1,
 'wrangling': 1,
 'examining': 1,
 'feeling': 1,
 'scurfing': 1,
 'loading': 1,
 'reviving': 1,
 'scooping': 1,
 'dynamiting': 1,
 'defecating': 1,
 'stamding': 1,
 'angling': 1,
 'drawing': 1,
 'sleeping': 1,
 'bringing': 1,
 'stuffing': 1,
 'expecting': 1,
 'oystering': 1,
 'missing': 1,
 'thrashing': 1,
 'waiting': 1,
 'gigging': 1,
 'harassing': 1,
 'leaving': 1,
 'traveling': 1,
 'seeing': 1}

### Creating a sub-dataframe with the most frequent activities

In [111]:
act_50 = lt.subdata(50,act_dict)
act_50

['surfing',
 'swimming',
 'fishing',
 'diving',
 'spearfishing',
 'bathing',
 'wading',
 'boarding',
 'standing',
 'snorkeling']

In [112]:
df_act_clean = lt.create(df_act,"Activity_REGEX",act_50)
df_act_clean.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Activity_REGEX
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",standing
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",surfing
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",surfing
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,diving
5,2018.06.03.b,03-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",surfing

### Exporting

In [113]:
df_act_clean.to_csv("dataframes/third.csv")

## 4th hypothesis: The older the age, the more fatal attacks

In [114]:
df_age = df.copy()
df_age.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

### Cleaning the Dataframe

In [115]:
list_YN = ['N','Y']
list_years = (list(range(0,80)))
list_years_str = [str(year) for year in list_years]
df_age_f = df.loc[(df_age["Fatal"].isin(list_YN)) & (df_age["Age"].isin(list_years_str))]

In [116]:
df_age_f = df_age_f[df_age_f["Age"].notna()]
df_age_f["Age"] = df_age_f["Age"].astype(int)
df_age_f.head(4)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
6,2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018"

### Exporting

In [117]:
df_age_f.to_csv("dataframes/forth.csv")

## 5th hypothesis: The trend of attacks tends to increase since 1975

In [118]:
df_year = df.copy()

### Cleaning Dataframe

In [119]:
df_year = df_year[df_year['Year'] > 1975]

### Creating a Dataframe with years and frequency

In [120]:
year_dict = lt.vc_to_dict(df_year.Year)
year_dict

{'2015': 143,
 '2017': 136,
 '2016': 130,
 '2011': 128,
 '2014': 127,
 '2008': 122,
 '2013': 122,
 '2009': 120,
 '2012': 117,
 '2007': 112,
 '2005': 103,
 '2006': 103,
 '2010': 101,
 '2000': 97,
 '2001': 92,
 '2003': 92,
 '2004': 92,
 '2002': 88,
 '1995': 76,
 '1999': 66,
 '1998': 65,
 '1996': 61,
 '1997': 57,
 '1994': 56,
 '1992': 56,
 '1993': 56,
 '1988': 55,
 '2018': 53,
 '1989': 53,
 '1983': 50,
 '1981': 49,
 '1984': 41,
 '1982': 40,
 '1986': 39,
 '1976': 39,
 '1990': 38,
 '1991': 38,
 '1985': 37,
 '1987': 35,
 '1980': 35,
 '1977': 26,
 '1979': 25,
 '1978': 25}

In [121]:
dictionary = {}
years = []
frequency = []
for year,freq in year_dict.items():
    years.append(year)
    frequency.append(freq)

dictionary = { 'years' : years, 'number_of_attacks' : frequency}

In [122]:
year_freq = pd.DataFrame(dictionary)
year_freq.head()

  years  number_of_attacks
0  2015                143
1  2017                136
2  2016                130
3  2011                128
4  2014                127

### Exporting

In [123]:
year_freq.to_csv("dataframes/fifth.csv")

## 6th hypothesis: The shark that attacks the most is the white shark

In [124]:
df_species = df.copy()

### Creating a new column with the Species

In [125]:
list(df_species.Species.unique())

['White shark',
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'A small shark',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 'Shark involvement highly doubtful',
 'No shark invovlement - it ws a publicity stunt',
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Invalid',
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 'Questionable Incident',
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',

In [126]:
pattern_species = r'\w+(?=\s+shark)'

In [127]:
df_species['Species_REGEX'] = df_species.Species.dropna().apply(lambda x: lt.searching(pattern_species, x))

In [128]:
df_species.head()

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Species_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",white
1,2018.06.18,18-Jun-2018,2018,Unprovoked,UNITED STATES,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,UNITED STATES,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",m
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,tiger

In [129]:
species_dict = lt.vc_to_dict(df_species.Species_REGEX.dropna())
species_dict.pop("not found")
species_dict.pop("m")

130

### Creating a sub-dataframe with the most frequent activities

In [130]:
species_40 = lt.subdata(40,species_dict)

In [131]:
species_40

['white',
 'tiger',
 'bull',
 'nurse',
 'whaler',
 'reef',
 'blacktip',
 'small',
 'mako',
 'wobbegong',
 'spinner',
 'raggedtooth',
 'hammerhead']

In [132]:
df_species_clean = lt.create(df_species,"Species_REGEX",species_40)
df_species_clean.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,Species_REGEX
0,2018.06.25,25-Jun-2018,2018,Boating,UNITED STATES,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",white
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,tiger
6,2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",tiger

### Exporting

In [133]:
df_species_clean.to_csv("dataframes/sixth.csv")